*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    
    
}
.form-control,.btn{
    border-style: solid ;
    padding: 10px;
}
.gameform span{
    display: block;
    margin-top: 5px;
}
/* .message2{
    display: none;
} */